.navbar{
    background-color: orangered;
}
.material-icons{
    vertical-align:middle;
    color:white;
    
}
.vertical-align{
vertical-align: middle;
color:white;
}
.align{
    vertical-align: text-top;
}
.edit{
    background-color: orangered;
    color:white;
}
.right{
    float: right;

}
.blue{
    color:blue;
}

.price-color{
    color: brown;
}
.white-color{
color:white;
}
.dol-col{
    color:dimgray;
}
.jumbotron{
    background-image: url("https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
    background-size: cover;
    background-blend-mode:normal;
    background-position: center;
    height: auto;
    width: 100%;
}
.black-color{
    color:black;
}
.save-color{
    background-color:orangered;
    color:white;
    
}
.edit-alert{
    background-color: aquamarine;
    color:mediumseagreen;
}
.card{
    width: 100rem;
    max-height: 100rem;
    max-width: 50rem;
}
.login-card{
    width: 35rem;
    max-height: 35rem;
}
.big-text{
    font-size: 25px;
    color:black;
}
.validate .invalid-feedback
{
    display: block;
}